input {
	position: relative;
	left: 22px;
	font-weight: bold;
	top: 15px;
	padding: 10px;
	margin: 5px;
}
.result, .result:focus {
	position: relative;
	left: 25px;
	font-weight: bold;
	margin-bottom: 18px;
    height: 20px;
    width: 160px;
    background-color: #d5d5d5;
}
.layout{
	background-color: #d2d2d1;
	max-width: 250px;
	height: 370px;
	border-radius: 7px;
}
input[type="button"]{
	position: relative;
	left: 30px;
	width: 50px !important;
	font-size: 20px;
	margin: 4px;
	margin-top: 14px;

}